body {
    margin: 0;
    height: 100vh;
    background: url('IMG/ProfileBK.gif') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}


.music-control {
    position:fixed;
    bottom: 20px;
    right: 20px;
    z-index:10;
}

.page img{
    cursor: grab;
    position: absolute;


}

.img-welcome{
    width: 25%;
    height: auto;
    max-width: 360px;
    z-index: 1;
}

.img-about{

    height: auto;
    max-width: 500px;
    z-index: 3;
}

.img-work{

    height: auto;
    max-width: 605px;
    z-index: 4;
}




.welcome-content {
  position: absolute; /* moves with img-welcome */
  pointer-events: none;
  user-select: none;
  width: 150px; /* enough to contain both profile and exit */
  height: 150px; /* adjust to fit your layout */
  z-index: 2;
}

.welcome-content .profile {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: auto;
}

.welcome-content .welcome-exit {
  position: absolute; /* absolute to place it anywhere inside welcome-content */
  top: -100px;          /* for example, near the top */
  right: -85px;        /* for example, near the right */
  pointer-events: auto; /* clickable */
  width: 30px;
  height: auto;
  cursor: pointer;
}




.page {
  position: relative;
  width: 100vw;   /* viewport width */
  height: 100vh;  /* viewport height */
  overflow: hidden;
  border: none; /* optional */
}


