/* === General Styles === */
body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  background: url('IMG/ProfileBK.gif') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.music-control {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

/* Welcome Page Styles */
.welcomePage {
  position: relative; /* Make this container the reference point for positioning */
  width: 100%; /* Full width to cover the body */
  height: 100%; /* Full height to cover the body */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image for the welcome background */
.img-welcome {
  width: 100%;
  height: auto;
  max-width: 360px;
  z-index: 1; /* Ensures the background image is behind the profile */
}

/* Profile Image (Centered) */
.welcome-profile {
  position: absolute; /* Absolute positioning within the welcomePage */
  width: 40%;
  top: 40%; /* Vertical center */
  left: 50%; /* Horizontal center */
  transform: translate(-50%, -50%); /* Offset the profile image to truly center it */
  z-index: 2; /* Ensure the profile image is on top of the background */
}

.welcome-exit {
  position: absolute; /* Absolute positioning within the welcomePage */
  top: 9%; /* Vertical center */
  left: 91%; /* Horizontal center */
  transform: translate(-50%, -50%); /* Offset the profile image to truly center it */
  width: 25px;
  z-index: 2; /* Ensure the profile image is on top of the background */
}


/* Hide the other pages */
.aboutPage, .workPage {
  display: none;
}
